@import "tailwindcss";

:root {
  --dark-bg: #121010;
  --light-bg: #fdf9f5;
  --brand-orange: #fe6847;
}

@layer base {
  html,
  body {
    font-family: var(--font-rift-soft), sans-serif;
    background-color: var(--dark-bg);
    color: var(--brand-orange);
    font-weight: 500;
  }
  html {
    scroll-behavior: smooth;
  }

  input,
  textarea,
  select {
    font-size: 16px !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600 !important;
  }

  p {
    font-weight: 500 !important;
  }
}

@theme inline {
  --color-brand-white: #fdf9f5;
  --color-brand-black: #121010;
  --color-brand-orange: #fe6847;
}

@layer components {
  .nav-link {
    @apply border-brand-orange hover:bg-brand-orange hover:text-brand-white inline-block rounded-full border px-2.25 py-0 text-center text-base backdrop-blur-[2px] transition-all duration-200 sm:text-[20px];
  }

  .card-shadow {
    box-shadow:
      0 1px 3px 0 rgba (0, 0, 0, 0.1),
      0 1px 2px -1px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}
