@import "tailwindcss";

:root {
  --dark-bg: #121010;
  --light-bg: #fbfaf8;
  --brand-orange: #fe6847;
}

@layer base {
  html,
  body {
    font-family: var(--font-rift-soft), sans-serif;
    background-color: var(--dark-bg);
    color: var(--brand-orange);
  }
  html {
    scroll-behavior: smooth;
  }

  input,
  textarea,
  select {
    font-size: 16px !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600 !important;
  }

  p {
    font-weight: 400 !important;
  }
}

@theme inline {
  --color-brand-white: #fbfaf8;
  --color-brand-black: #262626;
  --color-brand-orange: #f3752b;
}

/*
Planet Rotating logic

import { useRef } from "react";
import { useFrame } from "@react-three/fiber";
import MacbookModel16 from "../models/Macbook-16";

function ModelSwitcher({ scale, isMobile }) {
  const ref = useRef();

  const dragging = useRef(false);
  const lastX = useRef(0);

  // constant base rotation (planet spin)
  const baseSpeed = 0.002;

  // extra speed from user interaction
  const velocity = useRef(0);

  const startDrag = (e) => {
    dragging.current = true;
    lastX.current = e.clientX;
  };

  const endDrag = () => {
    dragging.current = false;
  };

  const moveDrag = (e) => {
    if (!dragging.current) return;

    const delta = e.clientX - lastX.current;

    if (delta > 0) {
      velocity.current += delta * 0.0008;
    }

    lastX.current = e.clientX;
  };

  useFrame(() => {
    if (!ref.current) return;

    // always spinning (planet behavior)
    ref.current.rotation.y += baseSpeed;

    // add user influence
    ref.current.rotation.y += velocity.current;

    // smooth decay back to base speed
    velocity.current *= 0.92;
  });

  return (
    <group
      ref={ref}
      scale={isMobile ? 0.05 : 0.08}
      onPointerDown={startDrag}
      onPointerUp={endDrag}
      onPointerLeave={endDrag}
      onPointerMove={moveDrag}
    >
      <MacbookModel16 />
    </group>
  );
}

export default ModelSwitcher;

*/
