@import "tailwindcss";

:root {
  --dark-bg: #121010;
  --light-bg: #fbfaf8;
  --brand-orange: #fe6847;
}

@layer base {
  html,
  body {
    font-family: var(--font-rift-soft), sans-serif;
    background-color: var(--dark-bg);
    color: var(--brand-orange);
  }
  html {
    scroll-behavior: smooth;
  }

  input,
  textarea,
  select {
    font-size: 16px !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600 !important;
  }

  p {
    font-weight: 400 !important;
  }
}

@theme inline {
  --color-brand-white: #fbfaf8;
  --color-brand-black: #262626;
  --color-brand-orange: #fe6847;
}
